#foos-graph
{
  svg
  {
    font-size: 10px;
    margin: 0 auto;
    height: 500px;
    width: 100%;

    .axis path,
    .axis line
    {
      fill: none;
      stroke: #444;
      shape-rendering: crispEdges;
    }

    .line
    {
      fill: none;
      stroke-width: 1.5px;
    }

    .line-point
    {
      stroke-width: 2.5px;
    }
  }
}

table
{
  .hidden
  {
    display : none;
  }
}
